<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gemini Chat</title>
    <!-- External CSS -->
    <!-- <link rel="stylesheet" href="./styles.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" href="/static/css/styles.css">

  </head>

  <body>
    <!-- Header -->
    <header>
      <h1>Welcome to Gemini Chat</h1>
    </header>

    <!-- Main Content -->
    <main>
      <!-- Chat Box to display conversation -->
      <div id="chatbox" class="chatbox">
        <!-- Chat messages will be added here -->
      </div>

      <!-- Chat Form for user input -->
      <form id="chatform" class="chatform">
        <input
          type="text"
          id="message"
          name="message"
          placeholder="Type your message here..."
        />
        <button type="submit" class="send-button">
          <span>Send</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
          >
            <path
              d="M1.94607 9.31543C1.42353 9.14125 1.4194 8.86022 1.95682 8.68108L21.043 2.31901C21.5715 2.14285 21.8746 2.43866 21.7265 2.95694L16.2733 22.0432C16.1223 22.5716 15.8177 22.59 15.5944 22.0876L11.9999 14L17.9999 6.00005L9.99992 12L1.94607 9.31543Z"
            ></path>
          </svg>
        </button>
      </form>
    </main>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="/static/js/script.js"></script>

    <!-- <script src="./script.js"></script> -->
  </body>
</html>
